numpy<1.22
matplotlib
pymc3==3.11.2
xarray==0.19.0
arviz
pandas
pytest
requests
numpyro
cairosvg
filelock>=3.2.0
tabulate
statsmodels
cachetools<5.0.0
covid19_inference@git+https://github.com/Priesemann-Group/covid19_inference@9e208fb94ebc39acafda10c70fcfa8a877a79a4c#egg=covid19_inference