numpy<1.22
matplotlib
pymc3==3.11.2
xarray==0.19.0
arviz
pandas
pytest
requests
numpyro
cairosvg
filelock>=3.2.0
tabulate
statsmodels
cachetools<5.0.0
covid19_inference@git+https://github.com/Priesemann-Group/covid19_inference@37ccd073612c32b595494176c69766277ae55a4f#egg=covid19_inference